In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/home/vivek/Downloads/archive/Covid Data.csv")

In [3]:
print(df.shape)

(1048575, 21)

In [4]:
# getting the columns of the dataset
columns = list(df.columns)
print(columns)

['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED', 'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR', 'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY', 'RENAL_CHRONIC', 'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU']

In [5]:
# To print first five samples
print(df.head())

   USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE   DATE_DIED  INTUBED  PNEUMONIA  \
0      2             1    1             1  03/05/2020       97          1
1      2             1    2             1  03/06/2020       97          1
2      2             1    2             2  09/06/2020        1          2
3      2             1    1             1  12/06/2020       97          2
4      2             1    2             1  21/06/2020       97          2

   AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  HIPERTENSION  OTHER_DISEASE  \
0   65         2         2  ...       2        2             1              2
1   72        97         2  ...       2        2             1              2
2   55        97         1  ...       2        2             2              2
3   53         2         2  ...       2        2             2              2
4   68        97         1  ...       2        2             1              2

   CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  TOBACCO  CLASIFFICATION_FINAL  ICU
0               2        2              2        2                     3   97
1               2        1              1        2                     5   97
2               2        2              2        2                     3    2
3               2        2              2        2                     7   97
4               2        2              2        2                     3   97

[5 rows x 21 columns]

In [6]:
#Describing dataset 
print(df.describe())

              USMER  MEDICAL_UNIT           SEX  PATIENT_TYPE       INTUBED  \
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   1.632194e+00  8.980565e+00  1.499259e+00  1.190765e+00  7.952288e+01
std    4.822084e-01  3.723278e+00  4.999997e-01  3.929041e-01  3.686889e+01
min    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
25%    1.000000e+00  4.000000e+00  1.000000e+00  1.000000e+00  9.700000e+01
50%    2.000000e+00  1.200000e+01  1.000000e+00  1.000000e+00  9.700000e+01
75%    2.000000e+00  1.200000e+01  2.000000e+00  1.000000e+00  9.700000e+01
max    2.000000e+00  1.300000e+01  2.000000e+00  2.000000e+00  9.900000e+01

          PNEUMONIA           AGE      PREGNANT      DIABETES          COPD  \
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   3.346831e+00  4.179410e+01  4.976558e+01  2.186404e+00  2.260569e+00
std    1.191288e+01  1.690739e+01  4.751073e+01  5.424242e+00  5.132258e+00
min    1.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
25%    2.000000e+00  3.000000e+01  2.000000e+00  2.000000e+00  2.000000e+00
50%    2.000000e+00  4.000000e+01  9.700000e+01  2.000000e+00  2.000000e+00
75%    2.000000e+00  5.300000e+01  9.700000e+01  2.000000e+00  2.000000e+00
max    9.900000e+01  1.210000e+02  9.800000e+01  9.800000e+01  9.800000e+01

             ASTHMA       INMSUPR  HIPERTENSION  OTHER_DISEASE  \
count  1.048575e+06  1.048575e+06  1.048575e+06   1.048575e+06
mean   2.242626e+00  2.298132e+00  2.128989e+00   2.435143e+00
std    5.114089e+00  5.462843e+00  5.236397e+00   6.646676e+00
min    1.000000e+00  1.000000e+00  1.000000e+00   1.000000e+00
25%    2.000000e+00  2.000000e+00  2.000000e+00   2.000000e+00
50%    2.000000e+00  2.000000e+00  2.000000e+00   2.000000e+00
75%    2.000000e+00  2.000000e+00  2.000000e+00   2.000000e+00
max    9.800000e+01  9.800000e+01  9.800000e+01   9.800000e+01

       CARDIOVASCULAR       OBESITY  RENAL_CHRONIC       TOBACCO  \
count    1.048575e+06  1.048575e+06   1.048575e+06  1.048575e+06
mean     2.261810e+00  2.125176e+00   2.257180e+00  2.214333e+00
std      5.194850e+00  5.175445e+00   5.135354e+00  5.323097e+00
min      1.000000e+00  1.000000e+00   1.000000e+00  1.000000e+00
25%      2.000000e+00  2.000000e+00   2.000000e+00  2.000000e+00
50%      2.000000e+00  2.000000e+00   2.000000e+00  2.000000e+00
75%      2.000000e+00  2.000000e+00   2.000000e+00  2.000000e+00
max      9.800000e+01  9.800000e+01   9.800000e+01  9.800000e+01

       CLASIFFICATION_FINAL           ICU
count          1.048575e+06  1.048575e+06
mean           5.305653e+00  7.955397e+01
std            1.881165e+00  3.682307e+01
min            1.000000e+00  1.000000e+00
25%            3.000000e+00  9.700000e+01
50%            6.000000e+00  9.700000e+01
75%            7.000000e+00  9.700000e+01
max            7.000000e+00  9.900000e+01

In [7]:
#New dataframe 
new_df = df
#new_df.isnull()
#Checking for null values 
print(new_df.isnull().sum()) 
print("Missing values distribution: ")
print(new_df.isnull().mean())
#print(new_df.shape) 
#new_df.duplicated()

USMER                   0
MEDICAL_UNIT            0
SEX                     0
PATIENT_TYPE            0
DATE_DIED               0
INTUBED                 0
PNEUMONIA               0
AGE                     0
PREGNANT                0
DIABETES                0
COPD                    0
ASTHMA                  0
INMSUPR                 0
HIPERTENSION            0
OTHER_DISEASE           0
CARDIOVASCULAR          0
OBESITY                 0
RENAL_CHRONIC           0
TOBACCO                 0
CLASIFFICATION_FINAL    0
ICU                     0
dtype: int64
Missing values distribution:
USMER                   0.0
MEDICAL_UNIT            0.0
SEX                     0.0
PATIENT_TYPE            0.0
DATE_DIED               0.0
INTUBED                 0.0
PNEUMONIA               0.0
AGE                     0.0
PREGNANT                0.0
DIABETES                0.0
COPD                    0.0
ASTHMA                  0.0
INMSUPR                 0.0
HIPERTENSION            0.0
OTHER_DISEASE           0.0
CARDIOVASCULAR          0.0
OBESITY                 0.0
RENAL_CHRONIC           0.0
TOBACCO                 0.0
CLASIFFICATION_FINAL    0.0
ICU                     0.0
dtype: float64

In [8]:
# #Checking for duplicates
print(new_df.duplicated().any()) 
print(new_df.duplicated())
print(new_df.shape)

True
0          False
1          False
2          False
3          False
4          False
           ...
1048570     True
1048571    False
1048572    False
1048573     True
1048574    False
Length: 1048575, dtype: bool
(1048575, 21)

In [9]:
print("Column datatypes: ")
print(new_df.dtypes)

Column datatypes:
USMER                    int64
MEDICAL_UNIT             int64
SEX                      int64
PATIENT_TYPE             int64
DATE_DIED               object
INTUBED                  int64
PNEUMONIA                int64
AGE                      int64
PREGNANT                 int64
DIABETES                 int64
COPD                     int64
ASTHMA                   int64
INMSUPR                  int64
HIPERTENSION             int64
OTHER_DISEASE            int64
CARDIOVASCULAR           int64
OBESITY                  int64
RENAL_CHRONIC            int64
TOBACCO                  int64
CLASIFFICATION_FINAL     int64
ICU                      int64
dtype: object

In [13]:
#Replacing string values with integer 
new_df["SEX"].replace({"male":"1", "female":"0"}, inplace = True) 
print(new_df.head())
print(new_df.shape)

   USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE   DATE_DIED  INTUBED  PNEUMONIA  \
0      2             1    1             1  03/05/2020       97          1
1      2             1    2             1  03/06/2020       97          1
2      2             1    2             2  09/06/2020        1          2
3      2             1    1             1  12/06/2020       97          2
4      2             1    2             1  21/06/2020       97          2

   AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  HIPERTENSION  OTHER_DISEASE  \
0   65         2         2  ...       2        2             1              2
1   72        97         2  ...       2        2             1              2
2   55        97         1  ...       2        2             2              2
3   53         2         2  ...       2        2             2              2
4   68        97         1  ...       2        2             1              2

   CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  TOBACCO  CLASIFFICATION_FINAL  ICU
0               2        2              2        2                     3   97
1               2        1              1        2                     5   97
2               2        2              2        2                     3    2
3               2        2              2        2                     7   97
4               2        2              2        2                     3   97

[5 rows x 21 columns]
(1048575, 21)

/tmp/ipykernel_26002/2496381397.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["SEX"].replace({"male":"1", "female":"0"}, inplace = True)

In [14]:
#Finding unique values in "Region" 
print(new_df["AGE"].unique())

[ 65  72  55  53  68  40  64  37  25  38  24  30  48  23  80  61  54  59
  45  26  32  49  39  27  57  20  56  47  50  46  43  28  33  16  62  58
  36  44  66  52  51  35  19  90  34  22  29  14  31  42  15   1   0  17
  41   2  10  12  13   4   7   6   8  60   5  63  75  81  67  18  70  88
  85  92  73  74  78  76  82  77  86  71  95  87  83  84  79  69  89   3
  97  93 100  91  21 103  11   9  94  96 101 107 102  98  99 109 119 116
 105 104 111 114 120 106 108 110 118 117 121 115 113]